#  Numbers

Compute the number of bytes in one Gigabyte (1kb = 1024 bytes, 1mb = 1024 kb, 1gb = 1024 mb)

In [ ]:
#Write your code here


gig_in_bytes = 1024*1024*1024
print ("The number of bytes in one Gigabyte:", gig_in_bytes)

The number of bytes in one Gigabyte: 1073741824

You bought 500 shares of stock A at $\$$600 on day 0 and you sold it at  $\$$1000 on day 700.
The daily discount rate is 0.0001%. How much profit did you make in terms of net present value.

In [ ]:
#Write your code here
inital = 500*600
future_cost = 500*1000
discount_rate = future_cost / (1 + 0.000001)** 700
profit =  discount_rate - inital

print(profit)

199650.12264632783

For any value of x, create a variable called even_check that is True if x is even and False if x is odd.

In [ ]:
#Write your code here
x = int(input("Enter a number: "))
Even = x%2

if Even == 0:
   print("The number is even.")
else: print("The number is odd.")

Enter a number: 24
The number is even.

You have num_shirts t-shirts, num_shorts pairs of shorts and num_shoes pairs of shoes.  Create a variable called num_outfits that stores the total number of different outfits you can make.

In [ ]:
#Write your code here
num_tshirts = int(input("Enter a number for t-shirt: "))
num_shorts = int(input("Enter a numberfor shorts: "))
num_shoes = int(input("Enter a number for shoes: "))

Total = (num_tshirts * num_shorts * num_shoes)

print("Total number of different outfits is", Total, ".")

Enter a number for t-shirt: 2
Enter a numberfor shorts: 3
Enter a number for shoes: 7
Total number of different outfits is 42 .

# String Practice

Create variable called "name" that stores your full name. Find whether your name has an even or odd number of letters.

In [ ]:
#Write your code here

Name = input("Enter your name please: ")
length = len(Name)
Even = length % 2

if Even == 0 :
  print("Your name has an even numbers of letters.")
else :
  print("Your name has an odd numbers of letters.")

Enter your name please: Thone Dari Su Htet
Your name has an even numbers of letters.

Correct the following variable so it is equal to "spammy"

In [ ]:
#Write your code here
s = "spaxxy"
m = "mm"
print(s[0:3] + m + s[5] )

spammy

Figure out a way to slice and combine the strings s1, s2, and s3 so that the variable consec_ints = "123456789".

In [ ]:
s1 = "12345"
s2 = "34567"
s3 = "789"

#Write your code here
print(s1[0:2] + s2 + s3[1:3])

123456789

#  List Practice

Add the first and last elements of the list L. Store the result in a variable called sum_first_last. Your code should work if I change L.

In [ ]:
L = [5,1,43,2,4,56,7,90, 67]

#Write your code here
sum_first_last = (L[0] + L[-1])
print(sum_first_last)

72

Slice and combine the elements of the list L in a way to print out "spam".

In [ ]:
L = [1,"s", 2, 3, "p", "a", 34,1,"m"]


#Write your code here
print(L[1]+ L[4] + L[5] + L[-1])

spam

Create a variable called num_L which store the number represented by the list of strings in L.  For the example num_L should be 145. You may assume 3 digit numbers.

In [ ]:
L = ["1","4","5" ]

#Write you code here
num_L = (L[1] + L[0] + L[2])
print(num_L)

415

Create a list L of numbers of odd length.  Complete the following tasks:

 - Find the median element
 - Slice out all element indexed lower than the median element

In [ ]:
L= [4,5,3,2,6,6,9]

#Write your code here
sot_L = sorted(L)
median_index = int(len(sot_L)/2)
median = sot_L[median_index]

print("L=",sot_L,".")
print("The median is",median, ".")

lower_num = sot_L[: median_index]
print(lower_num)

L= [2, 3, 4, 5, 6, 6, 9] .
The median is 5 .
[2, 3, 4]